<!-- Footer Section Begin -->
<footer class="footer spad">
  <div class="container">
    <div class="row" style="display: flex; align-items: end; gap: 20px">
      <div class="footer__about__logo" style="width: 200px">
        <a href="/"><img src="/img/logo.png" alt="" /></a>
      </div>
      <p>내일배움캠프 node b반 1조 최종 프로젝트 (1STREET 프로젝트)</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__copyright">
          <div class="footer__copyright__text">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="fa fa-heart" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
