<head>
  <meta charset="UTF-8" />
  <meta name="description" content="1street" />
  <meta name="keywords" content="store, html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>1street</title>

  <!-- Google Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
    rel="stylesheet"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />

  <!-- Js Plugins -->
  <script defer src="/js/jquery-3.3.1.min.js"></script>
  <script defer src="/js/bootstrap.min.js"></script>
  <script defer src="/js/jquery.nice-select.min.js"></script>
  <script defer src="/js/jquery-ui.min.js"></script>
  <script defer src="/js/jquery.slicknav.js"></script>
  <script defer src="/js/mixitup.min.js"></script>
  <script defer src="/js/owl.carousel.min.js"></script>
  <script
    src="https://cdn.tiny.cloud/1/ovn1m94fbsd56lorznh6vvu1bks8nbt2nmga2ti9af3rkcmf/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"
  ></script>
  <script defer src="/js/common.js"></script>
  <script defer src="/js/main.js"></script>

  <!-- Css Styles -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/nice-select.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/common.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/my-page.css" type="text/css" />
  <% if (authUser && authUser.isAdmin === true) { %>
  <link rel="stylesheet" href="/css/admin.css" type="text/css" />
  <% } %>
  <!-- 아이콘 에러 거슬려서 넣었습니다 나중에 빼주세요 -->
  <link rel="short icon" href="#" />
</head>
