<!-- Hero Section Begin -->
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <!-- PUB :: index에 포함되는 내용 -->
          <ul <% if (typeof isIndexPath !== 'undefined' && isIndexPath) { %>style="display: block;"<% } else { %>style="display: none;"<% } %>>
            <% categories.forEach(category => { %>
              <li><a href="/category-list?categoryId=<%= category.id %>&sort=sales"><%= category.category_name %></a></li>
              <% }); %>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#" class="site-btn-wrap">
              <!-- 검색 시에 -->
              <% if(isSearchPath) { %>
                <h2>난나</h2>
                <% if(searchContent) { %>
                  <input type="text" id="siteSearchInput" placeholder="상품을 검색해주세요." value="<%= searchContent %>" />
                <% } %>
              <% } else { %>
                <input type="text" id="siteSearchInput" placeholder="상품을 검색해주세요." />
              <% } %>
              <button type="button" id="siteSearchButton" class="site-btn">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>031-994-0451</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
        <!-- PUB :: index에 포함되는 내용 -->
        <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg" <% if (typeof isIndexPath !== 'undefined' && isIndexPath) { %>style="display: block;"<% } else { %>style="display: none;"<% } %>>
          <div class="hero__text">
            <span>FRUIT FRESH</span>
            <h2>Vegetable <br />100% Organic</h2>
            <p>Free Pickup and Delivery Available</p>
            <a href="#" class="primary-btn">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
