<section class="viewed-products">
  <button
    type="button"
    class="btn-viewed-products"
    onclick="viewedProductsMore()"
  >
    <i
      class="fa fa-sort-desc"
      aria-hidden="true"
      style="padding-right: 1px"
    ></i>
    최근 본 상품 보기
  </button>
  <ul id="viewedProductList">
    <li>
      <a href="">
        <img src="" alt="" />
      </a>
    </li>
  </ul>
</section>
