<!DOCTYPE html>
<html lang="ko">
<!-- include : head -->
<%- include('includes/head') %>
  <style>
    ul li {
      white-space: nowrap;
      /* 텍스트가 길어도 줄 바꿈 없이 한 줄에 표시 */
      overflow: hidden;
      /* 넘치는 텍스트를 숨김 */
    }
  </style>

  <body>
    <!-- include : preloder -->
    <%- include('includes/preloder') %>

      <!-- include : top-button -->
      <%- include('includes/top-button') %>

        <!-- include : header -->
        <%- include('includes/header') %>

          <!-- Hero Section Begin -->
          <section class="hero hero-normal">
            <div class="container">
              <div class="row">
                <div class="col-lg-3">
                  <div class="hero__categories">
                    <div class="hero__categories__all">
                      <i class="fa fa-bars"></i>
                      <span>All departments</span>
                    </div>
                    <ul>
                      <li><a href="#">Fresh Meat</a></li>
                      <li><a href="#">Vegetables</a></li>
                      <li><a href="#">Fruit & Nut Gifts</a></li>
                      <li><a href="#">Fresh Berries</a></li>
                      <li><a href="#">Ocean Foods</a></li>
                      <li><a href="#">Butter & Eggs</a></li>
                      <li><a href="#">Fastfood</a></li>
                      <li><a href="#">Fresh Onion</a></li>
                      <li><a href="#">Papayaya & Crisps</a></li>
                      <li><a href="#">Oatmeal</a></li>
                      <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="hero__search">
                    <div class="hero__search__form">
                      <form action="#">
                        <div class="hero__search__categories">
                          All Categories
                          <span class="arrow_carrot-down"></span>
                        </div>
                        <input type="text" placeholder="What do yo u need?" />
                        <button type="submit" class="site-btn">SEARCH</button>
                      </form>
                    </div>
                    <div class="hero__search__phone">
                      <div class="hero__search__phone__icon">
                        <i class="fa fa-phone"></i>
                      </div>
                      <div class="hero__search__phone__text">
                        <h5>+65 11.188.888</h5>
                        <span>support 24/7 time</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Hero Section End -->

          <!-- Breadcrumb Section Begin -->
          <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                      <a href="./index.html">Home</a>
                      <span>Checkout</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Breadcrumb Section End -->

          <!-- Checkout Section Begin -->
          <section class="checkout spad">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <h6>
                    <span class="icon_tag_alt"></span> Have a coupon?
                    <a href="#">Click here</a> to enter your code
                  </h6>
                </div>
              </div>
              <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="#">
                  <div class="row">
                    <div class="col-lg-8 col-md-6">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="checkout__input">
                            <p>Name<span>*</span></p>
                            <input type="text" id="name" />
                          </div>
                        </div>

                      </div>
                      <!-- <div class="checkout__input">
                        <p>Country<span>*</span></p>
                        <input type="text" />
                      </div> -->
                      <div class="checkout__input">
                        <p>Address<span>*</span></p>
                        <input type="text" placeholder="Street Address" class="checkout__input__add" id="address" />
                      </div>
                      <!-- <div class="checkout__input">
                        <p>Town/City<span>*</span></p>
                        <input type="text" />
                      </div> -->
                      <!-- <div class="checkout__input">
                        <p>Country/State<span>*</span></p>
                        <input type="text" />
                      </div> -->
                      <!-- <div class="checkout__input">
                        <p>Postcode / ZIP<span>*</span></p>
                        <input type="text" />
                      </div> -->
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="checkout__input">
                            <p>Phone<span>*</span></p>
                            <input type="phone" id="phone" />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="checkout__input">
                            <p>Email<span>*</span></p>
                            <input type="email" id="email" />
                          </div>
                        </div>
                      </div>
                      <!-- <div class="checkout__input__checkbox">
                        <label for="acc">
                          Create an account?
                          <input type="checkbox" id="acc" />
                          <span class="checkmark"></span>
                        </label>
                      </div> -->
                      <!-- <p>
                        Create an account by entering the information below. If you
                        are a returning customer please login at the top of the page
                      </p>
                      <div class="checkout__input">
                        <p>Account Password<span>*</span></p>
                        <input type="text" />
                      </div>
                      <div class="checkout__input__checkbox">
                        <label for="diff-acc">
                          Ship to a different address?
                          <input type="checkbox" id="diff-acc" />
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="checkout__input">
                        <p>Order notes<span>*</span></p>
                        <input type="text" placeholder="Notes about your order, e.g. special notes for delivery." />
                      </div>-->
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="checkout__order">
                        <h4>Your Order</h4>
                        <div class="checkout__order__products">
                          Products <span>Total</span>
                        </div>
                        <ul>
                          <li>Vegetable’s Package <span>$75.99</span></li>
                          <li>Fresh Vegetable <span>$151.99</span></li>
                          <li>Organic Bananas <span>$53.99</span></li>
                        </ul>
                        <div class="checkout__order__subtotal">
                          Subtotal <span>$750.99</span>
                        </div>
                        <div class="checkout__order__total">
                          Total <span>$750.99</span>
                        </div>
                        <button type="submit" class="site-btn" id="place_order">PLACE
                          ORDER</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </section>
          <!-- Checkout Section End -->

          <!-- Footer Section Begin -->
          <footer class="footer spad">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer__about">
                    <div class="footer__about__logo">
                      <a href="./index.html"><img src="/img/logo.png" alt="" /></a>
                    </div>
                    <ul>
                      <li>Address: 60-49 Road 11378 New York</li>
                      <li>Phone: +65 11.188.888</li>
                      <li>Email: hello@colorlib.com</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                  <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">About Our Shop</a></li>
                      <li><a href="#">Secure Shopping</a></li>
                      <li><a href="#">Delivery infomation</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Who We Are</a></li>
                      <li><a href="#">Our Services</a></li>
                      <li><a href="#">Projects</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Innovation</a></li>
                      <li><a href="#">Testimonials</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>
                      Get E-mail updates about our latest shop and special offers.
                    </p>
                    <form action="#">
                      <input type="text" placeholder="Enter your mail" />
                      <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="footer__copyright">
                    <div class="footer__copyright__text">
                      <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                          document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with
                        <i class="fa fa-heart" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                    </div>
                    <div class="footer__copyright__payment">
                      <img src="/img/payment-item.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!-- Footer Section End -->

          <!-- Js Plugins -->
          <!-- jQuery -->
          <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          <!-- iamport.payment.js -->
          <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
          <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


          <script src="/js/jquery-3.3.1.min.js"></script>
          <script src="js/bootstrap.min.js"></script>
          <script src="js/jquery.nice-select.min.js"></script>
          <script src="js/jquery-ui.min.js"></script>
          <script src="js/jquery.slicknav.js"></script>
          <script src="js/mixitup.min.js"></script>
          <script src="js/owl.carousel.min.js"></script>
          <script src="js/common.js"></script>
          <script src="js/main.js"></script>



          <script>
            const nameInput = document.getElementById('name');
            const addressInput = document.getElementById('address');
            const phoneInput = document.getElementById('phone');
            const emailInput = document.getElementById('email');
            const placeOrderButton = document.getElementById('place_order');
            const checkoutOrder = document.querySelector('.checkout__order');

            // 이벤트 리스너 등록
            placeOrderButton.addEventListener('click', postOrder);
            document.addEventListener('DOMContentLoaded', initializeCheckout);

            async function postOrder(event) {
              event.preventDefault();

              const name = nameInput.value;
              const address = addressInput.value;
              const phone = phoneInput.value;
              const email = emailInput.value;

              // 장바구니 데이터 불러오기
              const cartData = await fetchCartData();
              const productList = cartData;
              const subtotal = calculateSubtotal(productList);

              if (!address || !name || !phone || !email) {
                alert('내용을 입력해주세요.');
                return;
              }

              try {
                // 주문 생성
                const response = await fetch('/orders/carts', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({
                    order_receiver: name,
                    order_address: address,
                    order_phone: phone,
                    order_email: email,
                    order_payment_amount: subtotal,
                  }),
                });
                const data = await response.json();

                if (response.ok) {
                  console.log(data.message);
                  await requestPay(data.id); // 주문 아이디를 직접 넘겨줍니다.
                } else {
                  console.log(data.message);
                  alert(data.message);
                }
              } catch (err) {
                console.error('Error:', err);
              }
            }

            function formatNumberWithCommas(number) {
              return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            async function initializeCheckout() {
              try {
                // 페이지 로딩 시 장바구니 데이터 불러오기
                const cartData = await fetchCartData();
                const productList = cartData;
                const subtotal = calculateSubtotal(productList);

                // Products 목록 생성
                const productsElement = document.createElement('div');
                productsElement.classList.add('checkout__order__products');
                productsElement.innerHTML = 'Products <span>Total</span>';

                const ulElement = document.createElement('ul');

                productList.forEach(product => {
                  const priceMultiplyQuantity = product.product_price * product.quantity
                  const liElement = document.createElement('li');
                  liElement.innerHTML = `${product.product_name} <span>₩${formatNumberWithCommas(priceMultiplyQuantity)}</span>`;
                  ulElement.appendChild(liElement);
                });

                // 기존의 .checkout__order__products 요소 뒤에 ulElement 추가
                const existingUlElements = checkoutOrder.querySelectorAll('.checkout__order__products + ul');
                existingUlElements.forEach(element => element.remove()); // 기존의 ul 요소 제거
                checkoutOrder.insertBefore(ulElement, checkoutOrder.querySelector('.checkout__order__products').nextSibling);

                // Subtotal 업데이트
                const subtotalElement = document.querySelector('.checkout__order__subtotal span');
                subtotalElement.textContent = `₩${formatNumberWithCommas(subtotal)}`;

                // Total 업데이트
                const totalElement = document.querySelector('.checkout__order__total span');
                totalElement.textContent = `₩${formatNumberWithCommas(subtotal)}`;
              } catch (error) {
                console.error('장바구니 데이터를 가져오는 중 오류가 발생했습니다:', error);
              }
            }

            // 서버에서 장바구니 데이터 가져오기
            async function fetchCartData() {
              try {
                const response = await fetch('/carts');
                return await response.json();
              } catch (err) {
                console.error('Error:', err);
              }
            }

            // Subtotal 계산하기
            function calculateSubtotal(products) {
              return products.reduce((acc, product) => acc + product.total, 0);
            }

            //-- 결제 기능 --//

            async function requestPay(orderId) {
              const name = nameInput.value;
              const address = addressInput.value;
              const phone = phoneInput.value;
              const email = emailInput.value;

              const cartData = await fetchCartData();
              const checkoutOrder = document.querySelector('.checkout__order');
              const productList = cartData;
              const subtotal = calculateSubtotal(productList);

              const IMP = window.IMP; // 생략가능
              IMP.init('imp18070708'); // <-- 본인 가맹점 식별코드 삽입

              IMP.request_pay({
                pg: "kakaopay",
                pay_method: "card",
                merchant_uid: 'merchant_' + new Date().getTime(),
                name: '쇼핑몰 테스트 결제',
                amount: subtotal,
                buyer_email: email,
                buyer_name: name,
                buyer_tel: phone,
                buyer_addr: address,
                custom_data: orderId,
              },
                async function (rsp) {
                  console.log(rsp);
                  if (rsp.success) {
                    try {
                      const response = await fetch('/payments', {
                        headers: { 'Content-Type': 'application/json' },
                        method: 'POST',
                        body: JSON.stringify({
                          imp_uid: rsp.imp_uid,
                          amount: rsp.paid_amount,
                          merchant_uid: rsp.merchant_uid,
                          order_id: rsp.custom_data
                        }),
                      });

                      const data = await response.json();
                      if (response.ok) {
                        console.log(data.message)
                        alert('결제가 완료되었습니다.');
                        location.href = "/my-page"
                      }

                    } catch (error) {
                      console.error(error.message);
                      alert('오류가 발생했습니다.');
                    }
                  } else {
                    try {
                      const response = await fetch(`/orders/${orderId}/fail/delete`, {
                        method: 'DELETE',
                        headers: {
                          'Content-Type': 'application/json',
                        },
                      });
                      const data = await response.json();
                      if (response.ok) {
                        console.log(data.message);
                        alert('결제에 실패하여 주문을 취소합니다.');
                        window.location.reload();
                      } else {
                        console.log(data.message);
                      }
                    } catch (err) {
                      console.error('Error:', err);
                    }
                  }
                });
            }

            // 전화번호 입력 필드에서 텍스트가 입력될 때마다 실행되는 함수
            function formatPhoneNumber(e) {
              const input = e.target;
              const value = input.value.replace(/\D/g, ''); // 숫자 이외의 문자 제거
              const formattedValue = format(value); // 전화번호 형식으로 포맷

              input.value = formattedValue;
            }

            // 숫자를 전화번호 형식으로 포맷하는 함수
            function format(value) {
              const formattedValue = [];
              for (let i = 0; i < value.length; i++) {
                if (i === 3 || i === 7) {
                  formattedValue.push('-'); // 4번째와 7번째 문자 뒤에 '-' 추가
                }
                formattedValue.push(value[i]);
              }
              return formattedValue.join('');
            }

            // 전화번호 입력 필드의 이벤트 리스너 등록
            phoneInput.addEventListener('input', formatPhoneNumber);
          </script>

  </body>

</html>