<!DOCTYPE html>
<html lang="ko">
  <!-- include : head -->
  <%- include('includes/head') %>

  <script>
    //-- 회원가입 api --//
    const signUp = async () => {
      try {
        const emailInput = document.querySelector('#emailInput');
        const passwordInput = document.querySelector('#passwordInput');
        const passwordConfirmInput = document.querySelector(
          '#passwordConfirmInput',
        );
        const nameInput = document.querySelector('#nameInput');
        const phoneNumberInput = document.querySelector('#phoneNumberInput');
        const addressInput = document.querySelector('#addressInput');

        if (passwordInput !== passwordConfirmInput) {
          alert('비밀번호를 확인해주세요.');
        }

        const requestData = {
          email: emailInput.value,
          password: passwordInput.value,
          name: nameInput.value,
          phone_number: phoneNumberInput.value,
          address: addressInput.value,
        };

        const response = await fetch('/auth/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(requestData),
        });

        const data = await response.json();

        let newHtml = '';
        if (Array.isArray(data.message)) {
          data.message.forEach((errorMessage) => {
            const messagesHtml = Array.isArray(errorMessage.messages)
              ? errorMessage.messages
                  .map((message) => `<p class="error-text">${message}</p>`)
                  .join('')
              : errorMessage.messages;
            newHtml += `<div class="error-message">${messagesHtml}</div>`;
          });
        } else if (typeof data.message === 'string') {
          newHtml = `<div class="error-message">${data.message}</div>`;
        }
        errorDiv.innerHTML = newHtml;

        if (response.ok) {
          alert('로그인 되었습니다');
          window.location.href = '/';
        } else {
          console.error('로그인 실패:', data.message);
        }
      } catch (error) {
        console.error('에러 발생:', error);
        alert('로그인 과정에서 오류가 발생했습니다');
      }
    };
  </script>

  <body>
    <!-- include : preloder -->
    <%- include('includes/preloder') %> error-message-div
    <!-- include : header -->
    <%- include('includes/header') %>

    <!-- sign-form -->
    <main class="hero container sign-form">
      <form>
        <legend class="tit-page">회원가입</legend>
        <div class="radios">
          <div class="radio-wrap">
            <label>
              <input type="radio" name="contact" value="phone" checked />
              <span>사용자</span>
            </label>
          </div>
          <div class="radio-wrap">
            <label>
              <input type="radio" name="contact" value="phone" />
              <span>판매자</span>
            </label>
          </div>
        </div>
        <div class="content-wrap">
          <div class="user-box">
            <input type="text" id="emailInput" name="" required="" />
            <label class="required">Email</label>
          </div>
          <div class="user-box">
            <input type="password" id="passwordInput" name="" required="" />
            <label>Password</label>
          </div>
          <div class="user-box">
            <input
              type="password"
              id="passwordConfirmInput"
              name=""
              required=""
            />
            <label>Password Confirm</label>
          </div>
          <div class="user-box">
            <input type="text" id="nameInput" name="" required="" />
            <label>Name</label>
          </div>
          <div class="user-box">
            <input type="text" id="phoneNumberInput" name="" required="" />
            <label>Phone Number</label>
          </div>
          <div class="user-box">
            <input type="text" id="addressInput" name="" required="" />
            <label>Adress</label>
          </div>
          <button
            type="button"
            class="btn-primary-m btn-sign-in"
            onclick="signUp()"
          >
            회원가입
          </button>
        </div>
      </form>
    </main>

    <!-- Footer Section Begin -->
    <footer class="footer spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
              <div class="footer__about__logo">
                <a href="/"><img src="img/logo.png" alt="" /></a>
              </div>
              <ul>
                <li>Address: 60-49 Road 11378 New York</li>
                <li>Phone: +65 11.188.888</li>
                <li>Email: hello@colorlib.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            <div class="footer__widget">
              <h6>Useful Links</h6>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Our Shop</a></li>
                <li><a href="#">Secure Shopping</a></li>
                <li><a href="#">Delivery infomation</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Our Sitemap</a></li>
              </ul>
              <ul>
                <li><a href="#">Who We Are</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Innovation</a></li>
                <li><a href="#">Testimonials</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="footer__widget">
              <h6>Join Our Newsletter Now</h6>
              <p>
                Get E-mail updates about our latest shop and special offers.
              </p>
              <form action="#">
                <input type="text" placeholder="Enter your mail" />
                <button type="submit" class="site-btn">Subscribe</button>
              </form>
              <div class="footer__widget__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="footer__copyright">
              <div class="footer__copyright__text">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved | This template is made with
                  <i class="fa fa-heart" aria-hidden="true"></i> by
                  <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
              <div class="footer__copyright__payment">
                <img src="img/payment-item.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
