/* 초기화 */
textarea {
  resize: none;
}

span,
a,
legend {
  font-size: 1.6rem;
}

button,
input,
optgroup,
select,
textarea,
small {
  font-size: 1.2rem;
}

body {
  font-size: 10px;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.btn-user-delete {
  text-decoration: underline;
}

.error-message {
  text-align: left;
  color: #ef476f;
}

.red-text {
  color: #ef476f !important;
}

.section-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 800;
}

.label {
  display: block;
  margin-bottom: 1rem;
  color: #7fad39;
  font-size: 1.4rem;
  text-align: left;
}

.read-only {
  width: 100%;
  padding: 1rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  text-align: left;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-right {
  display: flex;
  justify-content: end;
}

.error-text {
  margin-bottom: 0;
  font-size: 1.2rem;
  text-align: left;
  color: #ef476f;
  line-height: 1.6;
}

.gray-text {
  color: #999 !important;
}

.categories {
  margin-bottom: 10rem;
}

.profile-img-wrap {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.date-text {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #777;
}

.product-title {
  font-weight: 500;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0rem 0rem 3rem rgba(0, 0, 10, 0.05);
  z-index: 100;
}

.hero {
  padding-top: 180px;
}

/* top 버튼 */
#scroll-btn {
  opacity: 0;
  width: 7rem;
  height: 7rem;
  color: #fff;
  background-color: #ef476f;
  position: fixed;
  bottom: 5%;
  right: 27px;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  font: bold 3.5rem monospace;
  transition: opacity 0.5s, transform 0.5s;
  z-index: 100;
}

#scroll-btn.show {
  opacity: 1;
  transition: opacity 1s, transform 1s;
}

/* 리뷰 */
.comment-num {
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 700;
}

.list-comment.empty::after {
  content: '작성된 댓글이 없습니다.';
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #999;
}

.item-comment:first-child {
  padding: 1rem 0 2rem;
}

.item-comment {
  padding: 4rem 0 2rem;
}
.item-comment + .item-comment {
  border-top: 0.1rem solid #efefef;
}

.item-comment .title-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1.3em;
  font-weight: 700;
}

.item-comment .title-wrap .profile-img-wrap {
  margin-right: 0.7em;
  border-radius: 50%;
  overflow: hidden;
}

.item-comment .title-wrap p {
  margin-bottom: 0;
  font-weight: 800;
}

.item-comment .comment-txt {
  margin-bottom: 1.5em;
}

.item-comment .profile-img-wrap.comment {
  width: 14.5em;
}

.review-img-list {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.review-img-item {
  max-width: 15rem;
  max-height: 15rem;
  overflow: hidden;
  object-fit: cover;
}

.comment-date {
  font-size: 1.4rem;
  font-weight: 300;
  color: #acacac;
}

/* 리뷰 END */

/* FAQ */
.qna {
  list-style: none;
  margin: 0;
  padding: 0;
}
.qna > li {
  padding: 1rem 0;
  box-sizing: border-box;
}
.qna > li:nth-child(n + 2) {
  /* 아이템 구분 점선 */
  border-top: 0.1rem dashed #aaa;
}
.qna input {
  display: none;
}

.qna label {
  /* 제목 - 클릭 영역 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
.qna label::before {
  /* 제목 앞 화살표 */
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 0.8rem solid transparent;
  border-left: 0.8rem solid #7fad39;
  margin: 0.2rem 0 0 0.8rem;
  float: left;
}
.qna input:checked + label::before {
  /* 내용 펼침 상태 제목 앞 화살표 */
  border: 0.8rem solid transparent;
  border-top: 0.8rem solid #7fad39;
  border-bottom: 0;
  margin: 0.8rem 0.4rem 0;
}

.qna label .title {
  flex: 1;
}

.qna label span {
  padding-left: 1rem;
}

.qna div {
  /* 내용 영역 - 기본 감춤 상태 */
  display: none;
  color: #666;
  font-size: 0.9375em;
  overflow: hidden;
  padding: 1rem 0 1rem 3rem;
  box-sizing: border-box;
  transition: max-height 0.4s;
}
.qna input:checked + label + div {
  /* 내용 영역 펼침 */
  display: block;
}
/* FAQ END */

/* sign */
[class*='btn-primary-m'] {
  min-width: 200px;
  height: 56px;
  font-size: 1.6rem;
}

.list-link .item {
  margin-bottom: 1rem;
}
.list-link .item:last-child {
  margin-bottom: 0;
}
.list-link .item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  font-size: 1.4rem;
  font-weight: 800;
  color: #555;
  border-radius: 2.5rem;
}
.list-link.type {
  margin-bottom: 130px;
}
.list-link .link-google {
  color: var(--f-main);
  background: #f2f2f2 url(../img/icon/ico_google.svg) no-repeat center left 3rem/3.5rem;
}
.list-link .link-apple {
  color: var(--f-main);
  background: #f2f2f2 url(../img/icon/ico_apple.svg) no-repeat center left 10px/43px;
}
.list-link .link-naver {
  color: #fff;
  background: #00bf18 url(../img/icon/ico_naver.svg) no-repeat center left 10px/43px;
}
.list-link .link-kakao {
  color: var(--f-main);
  background: #ffeb3b url(../img/icon/ico_kakao.svg) no-repeat center left 10px/43px;
}

.btn-primary-s {
  min-width: 8rem;
  padding: 0 1rem;
  height: 2.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #7fad39;
  border: 0;
}

.btn-primary-m {
  width: 100%;
  height: 5rem;
  margin-top: 5rem;
  color: #fff;
  font-weight: 700;
  background-color: #7fad39;
  border: 0;
}

.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 55rem !important;
  min-height: 100vh;
  text-align: center;
}

.sign-form form {
  width: 100%;
}

.sign-form .tit-page {
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 700;
}

.input-wrap.txt + .input-wrap.txt {
  margin-top: 1rem;
}

.sign-link-area {
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-top: 3rem;
  font-size: 1.4rem;
}

.sign-link-area a {
  color: #999;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 4.5rem 0 1rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 0.1rem solid #999;
  outline: none;
  background: transparent;
}
.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem 0;
  font-size: 1.6rem;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -2.5rem;
  left: 0;
  color: #7fad39;
  font-size: 1.4rem;
}
label {
  font-size: 1.8rem;
  line-height: 20px;
}

.radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 2rem;
  margin-bottom: 4rem;
  gap: 0.5rem 3rem;
  border-bottom: 0.1rem solid #dfdfdf;
}

[type='radio'],
span {
  vertical-align: middle;
}

[type='radio'] {
  appearance: none;
  border: max(0.2rem, 0.1em) solid gray;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  transition: border 0.5s ease-in-out;
}

.radio-wrap span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #777;
}

[type='radio']:checked {
  border: 6px solid #7fad39;
}

[type='radio']:focus-visible {
  outline-offset: max(0.2rem, 0.1em);
  outline: max(0.2rem, 0.1em) dotted #7fad39;
}

[type='radio']:hover {
  box-shadow: 0 0 0 max(0.4rem, 0.2em) lightgray;
  cursor: pointer;
}

[type='radio']:hover + span {
  cursor: pointer;
}

[type='radio']:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type='radio']:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Global CSS */
fieldset {
  display: flex;
  justify-content: center;
  border: none;
  margin: 0;
  padding: 4rem 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* sign END */

/* add */

.store-content {
  margin-top: 1.5rem;
  color: #fff;
}

.store-content::before {
  content: '-';
}

.edit-img-container {
  margin-bottom: 3rem;
  text-align: center;
}

.edit-img-wrap {
  width: 28rem;
  height: 30rem;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #efefef;
}

.primary-img-wrap {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.1rem solid #ccc;
  overflow: hidden;
  background-color: #efefef;
}

.list-container {
  margin-top: 5rem;
  padding: 3rem 0;
}

.list-container .title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.list-container h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.order-list-table .t-head {
  display: flex;
  padding: 0.8rem 0;
  margin-bottom: 0.8rem;
  font-weight: 600;
  border-radius: 1rem;
  background-color: #f5f5f5;
}

.order-list-table .t-body .tr {
  display: flex;
}

.order-list-table .t-body .tr .td {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-list-table .t-head .td,
.order-list-table .t-body .tr .td {
  text-align: center;
}

.order-list-table .t-head .td:first-child,
.order-list-table .t-body .tr .td:first-child {
  width: 20%;
}

.order-list-table .t-head .td:nth-child(2),
.order-list-table .t-body .tr .td:nth-child(2) {
  width: 45%;
  justify-content: start;
}

.order-list-table .t-head .td:nth-child(3),
.order-list-table .t-body .tr .td:nth-child(3) {
  width: 20%;
}

.order-list-table .t-head .td:nth-child(4),
.order-list-table .t-body .tr .td:nth-child(4) {
  width: 20%;
}
.order-list-table .t-body .tr {
  padding: 1rem 0;
  border-radius: 1.5rem;
  background-color: #fafafa;
}

.order-list-table .t-body .tr:not(:last-child) {
  margin-bottom: 0.5rem;
}

.order-info-wrap {
  display: flex;
}

.order-info-wrap .img-wrap {
  flex-shrink: 0;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
}

.order-info-wrap .text-wrap {
  margin-left: 1.5rem;
  text-align: left;
}

.order-info-wrap .text-wrap span {
  display: block;
}

.order-info-wrap .text-wrap span:first-child {
  font-size: 1.4rem;
}

.order-info-wrap .text-wrap span:nth-child(3) {
  font-size: 1.4rem;
}

.input-box {
  display: flex;
}

.label {
  flex-shrink: 0;
  min-width: 12%;
  margin: 0 1rem 0 0;
  font-size: 1.4rem;
}

.input-box input {
  width: 92%;
  padding: 0.5rem 3rem;
  font-size: 1.4rem;
  border: 0;
  border-radius: 1rem;
  outline: none;
  padding-left: 1rem;
  background-color: rgb(233, 233, 233);
}

.content-box {
  margin-bottom: 2rem;
}

.basic-input-box .edit-img-wrap {
  margin: 0;
}

.text-wrap {
  display: flex;
  flex-wrap: wrap;
}

.text-wrap small {
  color: #555;
}

.text-wrap b {
  padding-right: 0.5rem;
}

.scroll-box-container {
  width: 100%;
  height: 30rem;
  margin-bottom: 5rem;
  border: 0.1rem solid #ddd;
  overflow: auto;
}

.scroll-box-container .scroll-box {
  padding: 2rem 0;
}

.scroll-box-container .scroll-box pre {
  width: 100%;
  height: 100%;
  text-align: left;
  overflow: hidden;
}

.btns {
  flex-direction: column;
}

.btns .btn-primary-s {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns .btn-primary-s + .btn-primary-s {
  margin-top: 0.3rem;
}

.product-title {
  padding-top: 0.5rem;
  font-size: 1.4rem !important;
}

.edit-img-wrap {
  position: relative;
}

.btn-delete-img {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 1rem;
  z-index: 90;
}

.proflie-info-container .text-wrap > div {
  width: 100%;
}

.tab-pane img {
  width: auto;
}

.site-btn-wrap {
  display: flex;
}

.hero__search__form .site-btn-wrap input {
  width: 80%;
}

.site-btn-wrap .site-btn {
  width: 20%;
}

.search-info-container {
  padding: 2rem 0;
}

.search-info-container .search-info-title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.search-info-container .search-info-title span {
  font-weight: 600;
}

.search-list-wrap {
  display: flex;
  gap: 2rem;
}

.search-keyword-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.search-keyword-list > li {
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  background-color: #eee;
}

.btn-search-list {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  padding: 2rem 0;
  font-size: 1.6rem;
  border-top: 0.1rem solid #eee;
}

.btn-serach-item.active {
  font-weight: 700;
  text-decoration: underline;
}

/* product-list */
.product-list-page .featured {
  padding-top: 2rem;
}

.viewed-products {
  position: fixed;
  right: 10px;
  top: 40%;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0rem 0rem 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

#viewedProductList {
  height: 242px;
  overflow: auto;
  padding: 10px 0;
}

#viewedProductList > li {
  margin: 0 auto 10px;
  width: 67px;
  height: 67px;
  border-radius: 5px;
  overflow: hidden;
}

#viewedProductList > li:last-child {
  margin-bottom: 0;
}

.btn-viewed-products {
  background-color: transparent;
}
